@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-background: #f8fafc; /* slate-50 */
  --color-surface: #ffffff; /* cards */

  /* Text */
  --color-primary: #0f172a; /* slate-900 */
  --color-secondary: #475569; /* slate-600 */
  --color-text-muted: #64748b; /* slate-500 */

  /* Borders */
  --color-border: #e2e8f0; /* slate-200 */

  /* Accent */
  --color-primary-button: #0f172a; /* dark button */
  --color-primary-foreground: #ffffff;

  /* Radius */
  --radius-card: 12px;
  --radius-button: 10px;

  /* Shadow */
  --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.06);

  /* font */
  --font-sans: "Inter", sans-serif; /* body */
  --font-display: "Space Grotesk", sans-serif; /* headings */

  /* custom cursor */

  --cursor-circle: url("/cursor.svg"), pointer;

  /* tag */
  --color-tag-bg: #dbeafe;
  --color-tag-text: #1d4ed8;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-primary-button);
    font-family: var(--font-sans);
    cursor: var(--cursor-circle);
  }
}

@layer components {
  .container {
    @apply max-w-6xl px-4 py-4 mx-auto;
  }

  .button {
    background-color: var(--color-primary);
    color: var(--color-primary-foreground);
    border-radius: var(--radius-button);
    cursor: var(--cursor-circle);
    @apply transition duration-300 ease-in-out hover:scale-110;
  }

  .card {
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-card);
  }
  .link {
    cursor: var(--cursor-circle);
    @apply transition-all duration-200 ease-in-out hover:border-b border-primary;
  }
  .tag {
    background: var(--color-tag-bg);
    color: var(--color-tag-text);
    @apply px-3 py-1 md:px-5 md:py-2 rounded-md text-xs font-medium;
  }
}

@layer utilities {
  .custom-transition {
    @apply transition duration-200 ease-in-out hover:scale-105;
  }

  .padding-margin {
    @apply px-4 py-4;
  }
}
